!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SampleMatterSite
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header_var
      = link_to root_path, class: 'header_var__title' do
        Matter samplers
      .link_box
        = link_to 'ログイン', '#'
        = link_to '新規作成', new_company_path
      -# = link_to item_path(item.id) do
        -# = image_tag item.item_images[0].image_url.url, class:"list__image"
    .contents_wrapper
      %p ※※※※※ ヘッダーバーにサイト内のキーワード検索できる欄を設けるのも良いかも？各ページの検索欄不要になるかもだけど
      %br
      = yield
